
.react-uploadImage,
.img-uploadPhoto{
  position: relative;
  vertical-align: middle;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #e9eaec;
  margin-right: 10px;
  width: 200px;
  height: 160px;
  border-radius: 3px;
  color:#ccc;

  .btn-file{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    margin-left: -100px;
    z-index: 3;
    &:before{
      font-family: FontAwesome;
      content:"\f067";
      display: block;
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  .btn-file>input[type=file]{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
    opacity:0;
    filter:alpha(opacity=0);
    transform:translate(0px, 0) scale(1);
    direction:ltr;
    cursor:pointer;
  }
  .removeImage{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    display: none;
    z-index: 3;
  }
  .viewImgMask{
    position:absolute;
    left:0;
    top:0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height:100%;
    z-index: 2;
    display: none;
  }
  img.viewImg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 1;
    display: none;
  }
}
/*显示图片后*/
.react-uploadImage.hasImage{
  .btn-file{
    color:#fff;
  }
  &:before{
    content:"\f021";
  }
  .removeImage,
  .viewImgMask,
  img.viewImg{
    display: block;
  }
}
