@charset "utf-8";

/*--------------------------------
变量
-----------------------------------------*/
$color-theme:#667add;
$color-theme-response:#f1280f;

$color-success:#63cb89;
$color-success-response:#2ad593;

$color-warning:#fc9a2f;
$color-warning-response:#f4a92c;

$color-info:#2196f3;
$color-info-response:#20b0de;

$color-blue:#5573ca;
$color-blue-response:#4f6dc2;

$color-red:#de211d;


$color-text:#4B4C4D;
$color-label:#787878;
$color-black:#2a333a;
$color-gray-1:#666666;
$color-gray-2:#999999;
$color-gray-3:#dddddd ;
$color-gray-4:#fafafa;
$color-gray-5:#f1f1f1;

$color-bg:#f5f5f5;

$color-border:#e4e4e4;
$color-border-light:#aaa;

$sidebar-bacolor:#333d54;
$sidebar-width:250px;
$topheader-height:64px;

/*--------------------------------
页面深度
-----------------------------------------*/

$panel-fullscrean-index:1000;
$modal-selectWindow-index:1050;
$modal-confirm-index:1060;
$alert-index:1070;
$datetimepicker-index:1071;
/*--------------------------------

-----------------------------------------*/
html{
  overflow: hidden;
}
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body.inner-body{
  .topheader,.breadcrumb,sidebar {
    display: none;
  }
  .admin-page{
    overflow: auto;
    position: relative;
  }
  .main{
    padding-left:0;
    .content{
      padding: 0;
    }
  }


  .ps>.ps__scrollbar-x-rail,
  .ps>.ps__scrollbar-y-rail{
  }
  .ps > .ps__scrollbar-x-rail > .ps__scrollbar-x,
  .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y{
    border-radius: 0;
  }
}


.container{
  margin-right: auto;
  margin-left: auto;
  padding-left:0px;
  padding-right: 0px;
  width: 100%;
}


ul,li{margin:0;padding:0;list-style: none;}

.no-radius{
  border-radius:0 !important;
}


.inline-block{
  display: inline-block;
  vertical-align: middle;
}
.inline-table{
  display: inline-table;
  vertical-align: middle;
}

a:hover{
  text-decoration: none;
}

.rounded-circle{
  border-radius: 50%;
}
/*--------------------------------
字符大小
-----------------------------------------*/
.fs-12{font-size:12px !important;}
.fs-14{font-size:14px!important;}
.fs-16{font-size:16px!important;}
.fs-18{font-size:18px!important;}
.fs-22{font-size:22px!important;}
.fs-24{font-size:24px!important;}
.fs-36{font-size:36px!important;}


/*--------------------------------
颜色
-----------------------------------------*/
.text-default{
  color:$color-text;
}
.text-gray{
  color: $color-gray-1;
}
.text-gray-low{
  color: $color-gray-2;
}
.text-info{
  color:$color-info !important;
}
.text-danger{
  color:$color-red !important;
}
.text-warning{
  color:$color-warning !important;
}
.text-success{
  color:$color-success !important;
}
.bg-fff{
  background: #fff;
}
.bg-f5f5f5{
  background: #f5f5f5;
}

/*--------------------------------
位置
-----------------------------------------*/
.d-flex {
  display: flex!important;
}
.justify-content-center{
  justify-content:center !important;
}
.align-items-center{
  align-items:center !important;
}
/*--------------------------------
文本位置
-----------------------------------------*/
.text-center{
  text-align:center !important;
}
.text-left{
  text-align:left !important;
}
.text-right{
  text-align:right !important;
}
/*--------------------------------
缩略语
-----------------------------------------*/
abbr[title], abbr[data-original-title]{
  border:none;
}
/*--------------------------------
border
-----------------------------------------*/
.border-0{
  border:0 !important;
}
/*--------------------------------
width 宽度
-----------------------------------------*/
@mixin width($value: auto) {
  width:$value !important;
}

.widthAuto{
  @include width(auto);
}
.widthFull{
  @include width(100%);
}
.width100{
  @include width(100px);
}
.width120{
  @include width(120px);
}
.width140{
  @include width(140px);
}
/*--------------------------------
margin 留白
-----------------------------------------*/
@mixin margin-left($value: auto) {
  margin-left:$value;
}
@mixin margin-right($value: auto) {
  margin-right:$value;
}
@mixin margin-top($value: auto) {
  margin-top:$value;
}
@mixin margin-bottom($value: auto) {
  margin-bottom:$value;
}
.margin-lr-auto{
  @include margin-left(auto);
  @include margin-right(auto);
}
/*无留白*/
.margin0{
  margin:0 !important;
}
/*左侧留白*/
.margin-left-5 {
  @include margin-left(5px);
}
.margin-left-10 {
  @include margin-left(10px);
}
.margin-left-15 {
  @include margin-left(15px);
}
.margin-left-20 {
  @include margin-left(20px);
}
.margin-left-25{
  @include margin-left(25px);
}
/*右侧留白*/
.margin-right-5 {
  @include margin-right(5px);
}
.margin-right-10 {
  @include margin-right(10px);
}
.margin-right-15 {
  @include margin-right(15px);
}
.margin-right-20 {
  @include margin-right(20px);
}
.margin-right-25{
  @include margin-right(25px);
}
/*顶部留白*/
.margin-top-5 {
  @include margin-top(5px);
}
.margin-top-10 {
  @include margin-top(10px);
}
.margin-top-15 {
  @include margin-top(15px);
}
.margin-top-20 {
  @include margin-top(20px);
}
.margin-top-25 {
  @include margin-top(25px);
}

/*底部留白*/
.margin-bottom-5 {
  @include margin-bottom(5px);
}
.margin-bottom-10 {
  @include margin-bottom(10px);
}
.margin-bottom-15 {
  @include margin-bottom(15px);
}
.margin-bottom-20 {
  @include margin-bottom(20px);
}
.margin-bottom-25 {
  @include margin-bottom(25px);
}

/*--------------------------------
padding 填充
-----------------------------------------*/
@mixin padding-left($value: auto) {
  padding-left:$value;
}
@mixin padding-right($value: auto) {
  padding-right:$value;
}
@mixin padding-top($value: auto) {
  padding-top:$value;
}
@mixin padding-bottom($value: auto) {
  padding-bottom:$value;
}
/*无填充*/
.padding0{
  padding:0 !important;
}
.padding10{
  padding:10px !important;
}
.padding20{
  padding:20px !important;
}
/*左侧填充*/
.padding-left-5 {
  @include padding-left(5px);
}
.padding-left-10 {
  @include padding-left(10px);
}
.padding-left-15 {
  @include padding-left(15px);
}
.padding-left-20 {
  @include padding-left(20px);
}
.padding-left-25{
  @include padding-left(25px);
}
/*右侧填充*/
.padding-right-5 {
  @include padding-right(5px);
}
.padding-right-10 {
  @include padding-right(10px);
}
.padding-right-15 {
  @include padding-left(15px);
}
.padding-right-20 {
  @include padding-right(20px);
}
.padding-right-25{
  @include padding-right(25px);
}
/*顶部填充*/
.padding-top-5 {
  @include padding-top(5px);
}
.padding-top-10 {
  @include padding-top(10px);
}
.padding-top-15 {
  @include padding-top(15px);
}
.padding-top-20 {
  @include padding-top(20px);
}
.padding-top-25 {
  @include padding-top(25px);
}
/*底部填充*/
.padding-bottom-5 {
  @include padding-bottom(5px);
}
.padding-bottom-10 {
  @include padding-bottom(10px);
}
.padding-bottom-15 {
  @include padding-bottom(15px);
}
.padding-bottom-20 {
  @include padding-bottom(20px);
}
.padding-bottom-25 {
  @include padding-bottom(25px);
}

/*--------------------------------------
placeholder
------------------------------------------*/
input::-webkit-input-placeholder {
  color: #999;
}
input:-ms-input-placeholder { // IE10+
  color: #999;
}
input:-moz-placeholder { // Firefox4-18
  color: #999;
}
input::-moz-placeholder { // Firefox19+
  color: #999;
}
/*--------------------------------------
input,button,textarea : focus
------------------------------------------*/
input,button,textarea{
  &:focus{
    outline: none;
    border-color: #ccc;
  }
}
