@charset "utf-8";

/*--------------------------------
变量
-----------------------------------------*/
$color-theme:#667add;
$color-theme-response:#f1280f;

$color-success:#63cb89;
$color-success-response:#2ad593;

$color-warning:#fc9a2f;
$color-warning-response:#f4a92c;

$color-info:#2196f3;
$color-info-response:#20b0de;

$color-blue:#5573ca;
$color-blue-response:#4f6dc2;

$color-red:#de211d;


$color-text:#4B4C4D;
$color-label:#787878;
$color-black:#2a333a;
$color-gray-1:#666666;
$color-gray-2:#999999;
$color-gray-3:#dddddd ;
$color-gray-4:#fafafa;
$color-gray-5:#f1f1f1;

$color-bg:#f5f5f5;

$color-border:#e4e4e4;
$color-border-light:#aaa;

$sidebar-bacolor:#333d54;
$sidebar-width:250px;
$topheader-height:64px;

/*--------------------------------
页面深度
-----------------------------------------*/

$panel-fullscrean-index:1000;
$modal-selectWindow-index:1050;
$modal-confirm-index:1060;
$alert-index:1070;
$datetimepicker-index:1071;



/*--------------------------------------
tab-iframe tab容器下的iframe
------------------------------------------*/
  body.tab-iframe-body{
    background: transparent;
    .admin-page {
      background: transparent;
      .topheader{transition:none;top: -$topheader-height + 10;}
      .breadcrumb{transition:none;margin-top: -45px;}
      .sidebar{ transition:none;transform: translateX(-$sidebar-width - 10);}
      .main{transition:none;padding-left:0;
        .content {padding: 0;}
      }

    }
  }




/*--------------------------------------
错误,500,400
------------------------------------------*/
.error-page{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:url("../images/error-bg.png")  #4b5068  center center no-repeat;
  .error404,
  .error500{
    width: 840px;
    height: 360px;
    margin: 120px auto 0;
    text-align: center;

    h4{
      color:#2c2f3f;
      font-size: 14px;
      margin: 0 0 33px;
    }
    h2{
      color:#c0cae7;
      font-size: 19px;
      margin: 0 0 43px;
    }
    .btn{
      width: 123px;
      height:42px;
      border:2px solid #f7f8fa;
      border-radius: 60px;
      background: transparent;
      color: #fff;
    }
  }
  .error500{
    background: url("../images/500.png") no-repeat center center;
    background-size: 60%;
    padding-top: 280px;
  }
  .error404{
    background: url("../images/404.png") no-repeat center center;
    background-size: 60%;
    padding-top: 280px;
  }
}
/*--------------------------------------
admin-page
------------------------------------------*/
body{
  background: #f0f0f0;
}
.admin-page{
  margin: 0 auto;
  background: #f0f0f0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
  transition:all 0.35s linear ;

}
/*--------------------------------------
header
------------------------------------------*/
.topheader{
  position: relative;
  z-index: 50;
  background: #fff;
  height: $topheader-height;
  background: #fff;
  position: fixed;
  width: 100%;

  .top-navbar{
    border:none;
    .navbar-header{
      line-height: $topheader-height;
      border-right: 1px solid rgba(0,0,0,.1);
      position: fixed;
      z-index: 10;
      width: $sidebar-width;
      background:$sidebar-bacolor;
      .navbar-brand{
        align-items: center;
        margin: 0;
        text-align: center;
        padding: 0 15px;
        height: auto;
        float: none;
        .logo-text{
          color:#fff;
          line-height: $topheader-height;
        }
      }
    }
  }
  .navbar-collapse{
    margin-left: 250px;
    padding: 0 20px;
    .nav-link{
      padding: 0 15px;
      font-size: .875rem;
      line-height: $topheader-height;
      height: $topheader-height
    }
  }

}
/*--------------------------------------
页脚
------------------------------------------*/
.footer{
  margin: 0 auto;
  padding: 0px 0px 0px 160px;
  width: 100%;
  display: none;
 /* position: absolute;
  top:calc(100% + 60px);*/

  .copyright{
    padding:10px 0;
    text-align: center;
    p{
      margin:0px;
      font-size: 12px;
      color: #787878;
    }
    img{
      border: 1px solid #e7e8e8;
      margin: 0 12px;
    }
  }
}

/*--------------------------------------
sidebar 侧栏菜单
------------------------------------------*/
.sidebar{
  position: absolute;
  width: $sidebar-width;
  height: 100%;
  top: 0;
  border-right: 1px solid rgba(0,0,0,.1);
  z-index: 10;
  padding-top: $topheader-height;
  background: $sidebar-bacolor;
  transition:all 0.35s linear ;
  -webkit-box-shadow: 1px 0 20px 0 rgba(69, 90, 100, 0.18);
  box-shadow: 1px 0 20px 0 rgba(69, 90, 100, 0.18);

  .sidebar-nav {
    ul {
      //分类
      .nav-small-cap {
      font-size: 12px;
      padding: 12px 15px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      line-height: 30px;
      margin-top: 10px;
      color: #fff;
      opacity: .5;
      text-transform: uppercase;
      i {
        line-height: 30px;
        margin: 0 5px;
        font-size: 20px;
      }
    }
      //节点
      .sidebar-item .sidebar-link {
      color: #fff;
      padding: 12px 15px;
      display: flex;
      white-space: nowrap;
      align-items: center;
      line-height: 25px;
      opacity: .6;
      font-size: 14px;
        i{
          font-style: normal;
          width: 35px;
          line-height: 25px;
          font-size: 18px;
          color: #fff;
          display: inline-block;
          text-align: center;
        }
      }
      //选中节点
      .sidebar-link.active{
        border-radius: 60px 0 0 60px;
        background: #4798e8;
        color: #fff;
        opacity: 1;
      }
      .sidebar-link:hover,
      .sidebar-link:active,
      .sidebar-link:focus{
        outline: none;
        text-decoration: none;
        opacity: 1;
      }
    }
    .has-arrow{
      position: relative;
      .icon-folder{
        font-family: 'Font Awesome 5 Pro';
        font-weight: 300;
        &:before {
          content: "\f07b";
        }
      }
      &:after{
          position: absolute;
          content: '';
          width: 7px;
          height: 7px;
          border-width: 1px 0 0 1px;
          border-style: solid;
          border-color: #fff;
          margin-left: 10px;
          -webkit-transform: rotate(135deg) translate(0,-50%);
          -ms-transform: rotate(135deg) translate(0,-50%);
          -o-transform: rotate(135deg) translate(0,-50%);
          transform: rotate(135deg) translate(0,-50%);
          -webkit-transform-origin: top;
          -ms-transform-origin: top;
          -o-transform-origin: top;
          transform-origin: top;
          top: 23px;
          right: 15px;
          -webkit-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
      }
    }

  }
  //一级
  .sidebar-nav ul .sidebar-item .first-level {
    display: none;
    padding: 0 0 10px;
    .sidebar-item .sidebar-link {
      padding: 10px 15px;
    }
  }
  //打开子级
  li.open>.sidebar-link.has-arrow{
    opacity: 1;
    .icon-folder:before{
      content:"\f07c";
    }
    &:after {
      -webkit-transform: rotate(-135deg) translate(0, -50%);
      -ms-transform: rotate(-135deg) translate(0, -50%);
      -o-transform: rotate(-135deg) translate(0, -50%);
      transform: rotate(-135deg) translate(0, -50%);
    }
  }
  li.open>.has-arrow+.first-level{
    display: block;
  }

  //用户信息
  .user-profile {
    padding: 15px;
    text-align: center;
    .user-pic img {
      width: 60px;
    }
    .user-content,.user-name{
      color: #fff;
      position: relative;
      white-space: nowrap;
      font-size: 16px;
    }
    .btn-circle.btn-sm, .user-profile .btn-group-sm>.btn-circle.btn {
      width: 25px;
      height: 25px;
      font-size: 10px;
      padding: 5px 0;
      background: rgba(0,0,0,.2);
      color: #fff;
      opacity: .7;
      line-height: 12px;
      margin: 0 4px;
      &:hover{
        opacity: 1;

      }
    }
  }
  /*滚动条*/
  .ps>.ps__scrollbar-x-rail,
  .ps>.ps__scrollbar-y-rail{
  }
  .ps > .ps__scrollbar-x-rail > .ps__scrollbar-x,
  .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y{
    border-radius: 0;
  }
}



/*--------------------------------------
用户信息
------------------------------------------*/
.sidebar,
.topheader {
  ul.profile-menu {
    position: absolute;
    top: $topheader-height;
    right: 10px;
    z-index: 1000;
    display: none;
    float: left;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 1px rgba(43, 43, 43, 0.2);
    -moz-box-shadow: 0 0 4px 1px rgba(43, 43, 43, 0.2);
    -ms-box-shadow: 0 0 4px 1px rgba(43, 43, 43, 0.2);
    box-shadow: 0 0 4px 1px rgba(43, 43, 43, 0.2);
    border: none;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    width: 250px;
    padding: 0;
    > li {
      float: left;
      width: 50%;
      padding: 20px;
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
      a {
        height: auto;
        line-height: normal;
        font-size: 14px;
        color: #999;
        &:hover {
          color: #333;
          text-decoration: none;
        }
      }
    }
    > li.detail {
      color: #fff;
      width: 100%;
      position: relative;
      background: $sidebar-bacolor;
      height: auto;
      border-color: $sidebar-bacolor;
      .img-radius {
        text-align: center;
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        border: 2px solid #fff;
        -webkit-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
        -moz-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
        -ms-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
        box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
        img {
          width: 50px;
          border-radius: 50%;
        }
      }
      span {
        font-size: 16px;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
  ul.profile-menu:before {
    content: "";
    border: 7px solid transparent;
    border-left-color: $sidebar-bacolor;
    border-top-color: $sidebar-bacolor;
    position: absolute;
    border-radius: 3px;
    top: -7px;
    right: 15px;
    -webkit-box-shadow: -2px -2px 3px 0 rgba(43, 43, 43, 0.1);
    -moz-box-shadow: -2px -2px 3px 0 rgba(43, 43, 43, 0.1);
    -ms-box-shadow: -2px -2px 3px 0 rgba(43, 43, 43, 0.1);
    box-shadow: -2px -2px 3px 0 rgba(43, 43, 43, 0.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1002;
  }
}
.sidebar ul.profile-menu{
  left:0;
  right:0;
  width: 220px;
  li{float: none; width: 100%;}
  .detail{
    display: none;
  }
}

.sidebar .user-content.open>.profile-menu,
.user-profile.open>.profile-menu{
  display: block;
}


/*--------------------------------------
加载层
------------------------------------------*/
.page-preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 9999999;
  .loader-ripple{
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px);
    .ripple-pos{
      position: absolute;
      border: 2px solid #2962FF;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0,.1,.5,1) infinite;
    }
  }
  @keyframes lds-ripple{
    0%{top:28px;left:28px;width:0;height:0;opacity:0}
    5%{top:28px;left:28px;width:0;height:0;opacity:1}
    100%{top:-1px;left:-1px;width:58px;height:58px;opacity:0}
  }
  @-moz-keyframes lds-ripple{
    0%{top:28px;left:28px;width:0;height:0;opacity:0}
    5%{top:28px;left:28px;width:0;height:0;opacity:1}
    100%{top:-1px;left:-1px;width:58px;height:58px;opacity:0}
  }
  @-webkit-keyframes lds-ripple{
    0%{top:28px;left:28px;width:0;height:0;opacity:0}
    5%{top:28px;left:28px;width:0;height:0;opacity:1}
    100%{top:-1px;left:-1px;width:58px;height:58px;opacity:0}
  }
  @-o-keyframes lds-ripple{
    0%{top:28px;left:28px;width:0;height:0;opacity:0}
    5%{top:28px;left:28px;width:0;height:0;opacity:1}
    100%{top:-1px;left:-1px;width:58px;height:58px;opacity:0}
  }
  @-ms-keyframes lds-ripple{
    0%{top:28px;left:28px;width:0;height:0;opacity:0}
    5%{top:28px;left:28px;width:0;height:0;opacity:1}
    100%{top:-1px;left:-1px;width:58px;height:58px;opacity:0}
  }
}

/*--------------------------------------
面包屑
------------------------------------------*/
.page-title{
  font-size: 18px;
  margin: 10px 0 10px;
}
.breadcrumb{
  padding:5px 16px;
  padding:0;
  border-bottom:0px solid #eee;
  transition: all .5s ease;
  background: #fff;
  margin: 0;
  a{
    color: #333;
  }
}

/*--------------------------------------
page-wrapper 内容展示
------------------------------------------*/
.page-wrapper {
  margin-left: 250px;
  background: #fff;
  position: relative;
  padding-top: $topheader-height + 20px;
  padding-left:20px;
  padding-right:20px;
  .content{

  }
}

.main{
  transition: all .5s ease;
  padding-left:$sidebar-width;
  overflow-y: hidden;
  overflow-x: hidden;

  .content{
    padding: 5px;
    width: 100%;
    position: relative;

    iframe{
      width: 100%;
      height:100%;
    }
  }
  .content {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
      /*  &:first-child{
          padding-left:0;
        }
        &:last-child{
          padding-right:0;
        }*/
    }
  }
}
.main#adminPage-main-tabs{
  .content{
    display: none;
  }
  .content.active{
    display: block;
  }
}


/*--------------------------------------
dropdown-menu
------------------------------------------*/
.dropdown-menu{
  box-shadow: none;
  min-height: 34px;
  > li > a:hover, > li > a:focus{
    background: #f0f0f0;
  }
}
.dropdown.dropup{
  .btn.btn-default.dropdown-toggle{
    margin:0 4px;
  }
  .dropdown-menu{
    margin: 0 4px 9px;
  }
}

/*--------------------------------------
tabsbox
------------------------------------------*/
.react-radioBox.tabsbox {
  padding: 0px;
  margin:0;
  border-bottom:1px solid #eee;
  .radio-inline{
    margin:0;
    padding:0 0px;
    width: 100px;
    text-align: center;
  }
  label{
    font-weight: normal;
    color:#939daa;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    width: 100%;
  }
  .radio {
    display: none;
    border: none;
  }
  .checked {
    .radio {
      border:none;
      .point {
        display: none;
      }
    }
    label{
      color: #1f1f1f;
      font-size: 14px;
      border-bottom: 2px solid #6a99df;
    }
  }
}


/*--------------------------------------
sortbox
------------------------------------------*/
.sortbox{
  position: relative;
  padding:0px 0;
  margin:0px;
  .btn-group>.btn{
    min-width: 80px;
    padding:6px 18px;
    font-size: 12px;
    color:#787878;
  }
}

/*--------------------------------------
filter-box
------------------------------------------*/
.filter-box{
  position:relative;
  background: #fff;
  border: 1px solid #e9e9e9;
  /*padding:14px 18px 14px;*/
  padding:10px;
  margin:0px 0 5px;
  border-radius: 3px;
  .form-inline{
    .form-group{
      margin:0px 10px 5px 0;
      label{
        color:#1d2b36;
        font-weight: normal;
        margin-right:18px;
        font-size: 12px;
      }
      .form-control{
        font-size: 12px;
        line-height: 18px;
        border-radius:4px;
        border-color:#e7e6e6;
        box-shadow: none;
      }
      .form-control-componentl{
        display: inline-block;
      }
      .radio-inline,.checkbox-inline{
        padding:7px 0 0 0;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .input-group{
      vertical-align: middle;
      display: inline-table;
      .form-control{
        width: auto;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .input-group-addon{
        position: relative;
        line-height: 13px;
        width: 20px;
        border-color: #e7e6e6;
        background: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .input-group-btn{
        width:auto;
      }
    }
    label.error{
      color:#f17788;
    }
  }
  .button-group{
    padding-top:0;
  }
  .form-inline:only-child{
      margin-bottom: 0;
      .form-group{
        margin-bottom: 0;
      }
  }
  .form-inline:last-child{
    .form-group{
      margin-bottom: 0;
    }
  }
}
.form-control-componentl{
  .react-selectbox{
    box-shadow:none;
    border:1px solid #e7e6e6;
    border-radius:4px;
    .react-selectbox-button{
      line-height: 18px;
      padding: 6px 15px;
      min-width: 120px;
      vertical-align: middle;
      &:before{
        top:50%;
        margin-top: -10px;
        border-color:#eee;
      }
      &:after{
        top:50%;
        margin-top: -2px;
      }
      .react-selectbox-btn-label{
        min-height:18px;
      }
    }
    .react-selectbox-clearbtn{
      top:50%;
      margin-top:-10px;
    }
  }
  .react-selectbox.hasValue{
    .react-selectbox-btn-label{
      padding:0 40px 0 0;
    }
  }

}

/*--------------------------------------
table
------------------------------------------*/
.table-box{
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  /*内容区域*/
  .table-content{
    position: relative;
  }

  /*表格滚动条*/
  .table-scroll{
    border:0px solid #e5e5e5;
    /*锁定头，锁定体*/
    .table-scroll-thead,
    .table-scroll-tbody,
    .table-scroll-tfoot{
      position: relative;
      overflow:auto;
      width: auto;
      table{
        margin: 0;
        border-collapse: separate;
      }
      table.table{
        table-layout: fixed;
        width: inherit;
        border:none;
      }
      .table.table2{
        table-layout: fixed;
        width: inherit;
      }
    }
    .table-scroll-thead,
    .table-scroll-tfoot{
      overflow:hidden;
      table.table{
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    .table-scroll-thead{
      .table>thead>tr>th{
        border-top:1px solid #e5e5e5;
      }
      .table>thead>tr>th.scroll-cell{
        border-top: 1px solid #e5e5e5;
        border-left: 0;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        background: transparent;
      }
    }
    .table-scroll-tbody{
      overflow-x: auto;
      overflow-y: auto;
      width: 100%;
      /*margin-top: -18px;*/
      .table>tbody>tr>td {
        border-top:none;
      }
    }
    .table-scroll-thead.noscroll,
    .table-scroll-tfoot.noscroll{
      overflow: hidden;
    }
    .table-scroll-tbody.noscroll{
      margin-top: -1px;
    }

    .table-scroll-tfoot,
    .table-scroll-tfoot.noscroll{
      /*display: none;*/
      .table>tfoot>tr>th{
        border-bottom:1px solid #ddd;
        border-right:1px solid #ddd;
        background-color: #f5f7fa;
      }
      .table>tfoot>tr:last-child>th{
        border-top:none;
      }
      .table>tfoot>tr>th.summary{
        color: $color-blue;
        text-align: right;
      }
    }

    .ps__scrollbar-x-rail,
    .ps__scrollbar-y-rail{
      opacity: 0.6;
      height:14px;
    }
    .ps__scrollbar-x,
    .ps__scrollbar-y{
      opacity: 0.6;
      border-radius: 0;
      height:10px;
    }
    .ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
    .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
      height: 10px;
    }
  }

  /*表格锁定区域*/
  .table-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    .table-fixed-thead{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      .table>thead>tr>th.fixed-hidden{
        visibility: hidden;
      }
    }
    .table-fixed-tbody{
      position: absolute;
      left: 0;
      overflow: hidden;
      z-index: 3;
    }
    .table-fixed-tfoot{
      position: absolute;
      left: 0;
      overflow: hidden;
      z-index: 3;
      .table{
        border:none;
      }
      .table>tfoot>tr>th{
        border-bottom:1px solid #ddd;
        border-right:1px solid #ddd;
        background-color: #f5f7fa;
      }
      .table>tfoot>tr:last-child>th{
        border-top:none;
      }
      .table>tfoot>tr>th:last-child {
        border-right: none;
      }
      .table>tfoot>tr>th.summary{
        color: $color-blue;
      }
      .table>thead>tr>th.fixed-hidden{
        visibility: hidden;
      }
    }


  }

  /*表格表头的排序按钮*/
  .caret-box{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
    .sort-caret {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      position: absolute;
      left: 7px;
    }
    .sort-caret.ascending {
      border-bottom-color: #c0c4cc;
    top: 5px;
    }
    .sort-caret.descending{
      border-top-color: #c0c4cc;
      bottom: 7px;
    }
  }
  .is-sortable{cursor: pointer;}
  .ascending .sort-caret.ascending {
    border-bottom-color: $color-blue;
  }
  .descending .sort-caret.descending {
    border-top-color: $color-blue;
  }
}

.table{
  margin-bottom: 0px;
  .sep-row{
    display: none;
  }
  .table-row.sep-row{
    display: table-row;
    >td .table-box{
     /* background: #f8f8f8;
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);*/
    }
    /*用于放置子表的相关按钮*/
    .table-row-btnGroup{
      margin-bottom:10px;
      /*text-align: center;*/
    }
  }
  .loading-row>td,
  .nodata-row >td{
    vertical-align: middle;
  }
  .loading-row>td{
    padding:30px 8px;
    height: 200px ;
  }
  .ps__scrollbar-y-rail{
    opacity: .6;
  }
}
.pagination>li>a, .pagination>li>span{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  /*border-right: 1px solid #eee;*/
  text-decoration: none;
  color: $color-blue;
  /*margin: 0 0px;*/
  padding:0 12px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background: $color-blue;
  color: #fff;
  border: none;
}
.row.table-pagination{
  font-size: 12px;
  margin:5px 0;
  height:30px;
  .pagination{
    margin: 0;
  }
  .pagination-info{
    line-height: 30px;
  }
}

.btn.btn-default.dropdown-toggle{
  width: auto;
  height: 30px;
  color: #1f1f1f;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
  box-shadow: none;
  padding: 0 6px;
  margin: 0px;
}
/*--------------------------------------
swin-table
------------------------------------------*/
.swin-frame{
  .filter-box{
    margin:0;
    padding: 5px;
    border:none;
  }
}
.swin-table{
  width: 100%;
  border-collapse:collapse;
  border: 0px solid #ddd;
  thead th,
  tbody td,
  tfoot td{
    padding:6px 12px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd ;
    font-size: 12px;
    color: #55585d;
  }
  tbody td{
    border-bottom: 1px solid #ddd ;
    text-align: left;
  }
}
/*--------------------------------------
modal模态框
------------------------------------------*/
.modal{
  background: none;
  overflow: hidden;
  .modal-dialog{
    width: 400px;
    animation: all 0.5s linear;
  }
  .hideHeader{
    .modal-head{
      display: none;
    }
  }
  .modal-body{
    text-align: center;
    margin: 0;
    tr{
      cursor: pointer;
      &.selected{
        td{
          background: #f4f4f4;
        }
      }
    }
    iframe.modal-iframe{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:100%;
    }
  }
  .modal-foot{
    button{
      margin:0 3px ;
    }
  }
}
.modal.fullsrean{
  .modal-dialog{
    width: 98% !important;
    margin: 15px auto;
  }
}

#container-modal {
  .modal{
    z-index: $modal-confirm-index;
  }
  .cmodal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  .cmodal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
  }
}
#container-modal-selectWindow{
  .modal{
    z-index: $modal-selectWindow-index;
  }
  .smodal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  .smodal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
  }
}

/*--------------------------------------
swin-modal,显示列表模态框
------------------------------------------*/
.modal{
  .swin-modal{
    &.modal-dialog{
      width: 600px;
    }
    .modal-head{
      padding:10px 20px;
      border: none;
      h3{
        margin: 0;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .modal-body{
      padding:10px 20px 10px 20px;
      height: 300px;
      overflow-y: auto;
      overflow-x:hidden;
    }
    .modal-foot{
      padding:10px 20px;
    }
  }
  /*杂费单价*/
  .swin-modal.costprice{
    .modal-body{
      height: auto;
      overflow: hidden;
    }
    .swin-table{
      th,td{
        padding:3px 6px;
      }
      input[type=text]{
        line-height: 28px;
      }
      th.scroll-cell{
        border:none;
      }
    }
    .costprice-total{
      background: #eee;
      font-size: 16px;
      font-weight: 600;
      color: $color-blue;
      padding:6px 10px;
      margin: 3px 0;
    }
  }
}
/*--------------------------------------
modal-exportSetup导出设置
------------------------------------------*/
.modal-exportSetup{
  .modal-dialog{
    width: 600px;
  }
  .modal-footer{
    background: #e1e3e5;
    .btn{
      width: auto;
      border-radius: 0;
      margin: 0 -1px 0 0;
      padding: 16px 48px;
      display: inline-block;
      border: none;
    }
    .btn~.btn{
      margin-right:-1px;
    }
  }
}

/*--------------------------------------
导出项列表
------------------------------------------*/
.exportItem-list{
  padding:20px 0 ;
  .ckbItem{
    float: left;
    margin:0 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    >input[type=checkbox]{
      display: none;
      opacity: 0;
    }
    >.ckbbf{
      display: inline-block;
      width:18px;
      height:18px;
      border:1px solid #d2d2d2;
      border-radius: 2px;
      margin-right: 10px;
      margin-top: 2px;
      position: relative;
      &:before{
        font-family: "Font Awesome 5 Pro";
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -9px 0 0 -9px;
        width: 18px;
        height: 18px;
        text-align: center;
      }
    }
    >.ckblabel{
      display: inline-block;
      vertical-align: top;
    }
    input[type=checkbox]:checked+.ckbbf:before{
      content:"\f00c";
    }
  }
}


/*--------------------------------------
详情容器
------------------------------------------*/
/*
.panel{
  background: #fff;
  border:1px solid #e9e9e9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(147, 157, 170, 0.03);
  box-shadow: 0 2px 5px 0 rgba(147, 157, 170, 0.03);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;

  &.panel-edit{
    padding: 10px 20px 10px 10px;
  }
*/

  .panel-header{
    position: relative;
    min-height: 27px;
    .button-group{
      text-align: left;
    }
    .panel-header-tool{
      position: absolute;
      right: 0;
      top: 5px;
      a{
        margin: 0 7px;
      }
    }
  }
  .panel-body{
    padding: 5px 0px;
    overflow-x: hidden;
    overflow-y: auto;
   /* min-height:300px;*/
    .filter-box{
      border:none;
      padding-top: 0;
      .form-inline>.form-group{
        margin-bottom:5px;
      }
    }
  }
  .view-group{
    margin-bottom:10px;
    &:before,
    &:after{
      content:"";
      display: table;
    }
    &:after{
      clear: both;
    }
    .view-label,
    .view-static{
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .view-label{
      float: left;
      width: 16.66666667%;
      padding-top:7px;
      margin-bottom: 0;
      text-align: right;
    }
    .view-static{
      float: left;
      width: 83.33333333%;
      padding-top:7px;
      padding-bottom:7px;
      line-height:1.42857143;
      border:none;
      box-shadow:none;
    }
    .view-static-table{
      border-collapse: collapse;
      th,td{
        padding:6px 10px;
      }
    }
  }



//}
.panel.fullscrean {
  position: fixed;
  top: 15px;
  left: 15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  z-index: $panel-fullscrean-index;
  -webkit-box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.44);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &.funnscreen-hide-body{
    height: 52px;
  }
}

/*--------------------------------------
详情容器+tab标签框
------------------------------------------*/
.nav-tabs.tab{
  background: none;
  a{
    color:#7a8995;
  }
  a:hover {
    color: #1f1f1f;
    border-color: transparent;
    background-color: transparent;
  }
  .active{
    a{
      color:#1f1f1f;
    }
  }
}
.tab-content{
  .tab-iframe{
    width: 100%;
    height:100%;
  }
}
.tab-content.panel{
  border:none;
}


/*--------------------------------------
step步骤
------------------------------------------*/
.ui-step{
  .step {
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -14px;
    z-index: 10;
    text-align: center;

    width: 30px;
    height: 30px;
    line-height: 25px;
    border: 3px solid #fff;
    font-size: 16px;
    border-radius: 50%;
  }

  .navbar{
    margin: 0;
    position: relative;
    display: block;
    width: 100%;
    >ul.tablist {
      display: table;
      width: 100%;
      table-layout: fixed;
      margin: 0;
      padding: 0;
      list-style: none;
      >li {
        float: none;
        display: table-cell;
        width: auto;
        vertical-align: top;
        text-align: center;
        position: relative;
        a {
          position: relative;
          padding: 0;
          padding-top: 32px;
          margin-bottom: 10px;
          display: block;

          color: #999;
          cursor: default;
        }
      }
      >li.active{
        a {
          background: transparent;
          color: #2f3d4a;
          cursor: default;
          .wizard-content .wizard>.steps>ul>li.done .step {
            background-color: #667add;
            border-color: #667add;
            color: #fff;
          }
        }
        .step {
            border-color: #667add;
            background-color: #fff;
            color: #667add;
        }
      }
      >li.done{
        .step {
          background-color: #667add;
          border-color: #667add;
          color: #fff;
        }
      }
    }

    >ul>li:after, >ul>li:before {
      content: '';
      z-index: 9;
      display: block;
      position: absolute;
      top: 15px;
      width: 50%;
      height: 3px;
      background-color: #667add;
    }
    >ul>li:before {
      left: 0;
    }
    >ul>li:after {
      right: 0;
    }
    >ul>li:first-child:before,
    >ul>li:last-child:after {
      content: none
    }
    >ul>li.active:after, >ul>li.active~li:after, >ul>li.active~li:before {
      background-color: #fff;
    }
  }




  .tab-content {
    > .step-pane {
      display: none;
      visibility: hidden;
    }
    > .step-pane.active {
      display: block;
      visibility: visible;
    }
    .filter-box{
      border: none;
    }
  }

  .pager .previous>a, .pager .previous>span,
  .pager .next>a, .pager .next>span {
    float:none;
    border: 1px solid $color-blue;
    color:$color-blue;
  }
  .pager .previous>a:hover, .pager .previous>span:hover,
  .pager .next>a:hover, .pager .next>span:hover {
    background: $color-blue;
    color: #fff;
  }
  .pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span{
    color: #999;
    border-color: #ddd;
    background-color: #fff;
    cursor: not-allowed;
  }
  .pager a{
    border-radius:2px;
  }
}

/*--------------------------------------
表单组 form-group
------------------------------------------*/
.form-group {
  margin-bottom: 15px;
}
.button-group{
  text-align: center;
  font-size:0;
  margin: 0;
  .ui-btn{
    margin: 0 3px;
  }
}

/*--------------------------------------
水平表单form-horizontal
------------------------------------------*/

.form-horizontal{
  .form-group{
    margin-right: 0px;
    margin-left: 0px;
    &:last-child{
      /*margin-bottom: 0;*/
    }
  }
  .form-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
  .form-control {
      display: block;
      width: 100%;
      box-shadow: none;
  }
  .form-control-static{
    text-align: left;
  }
  label.error{
    color:#f17788;
    margin: 0;
  }
  input.error,
  select.error,
  textarea.error{
    border: 1px solid #f17788;
  }
}



/*--------------------------------------
查看表单form-view
------------------------------------------*/
.form-view{
  .form-group{
    margin-bottom: 5px;
  }
  .input-group{
    .input-group-addon{display: none;}
  }
  .form-group,
  .form-group .input-group{
    .input-default,
    .input-group-addon,
    .input-group-addon:first-child ~ input.input-default:not(.hidden),
    input.input-default:not(.hidden) ~ .input-group-btn select.ui-dropdown:not(.hidden),
    .ui-dropdown,
    .form-control.input-default,
    .form-control.ui-dropdown,
    .input-group-btn,
    .input-group-btn>.ui-dropdown,
    .form-control-static{
      border: none;
      box-shadow: none;
      background: #f2f2f2;
      cursor: default;
      text-align: left !important;
      min-height: 30px;
      padding: 6px 10px;
    }

    [class*="col-sm-"].control-label:after{
      content:":";
      display: inline-block;
      margin-left:3px;
    }
  }


  .form-control.ui-dropdown,
  select.ui-dropdown{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  select::-ms-expand { display: none; }
  textarea{
    resize:none;
    height: 34px;
  }
  .control-label{
    .text-danger{display: none;}
  }


}




