/*--------------------------------
变量
-----------------------------------------*/
$color-blue:#4798e8;
$color-blue-response:#1c7fe0;

$border-color:#e2e2e2;
$border-color-response:rgba(0,0,0,0.25);

/*--------------------------------

-----------------------------------------*/
.login-wrapper{
  position: relative;
  min-height: 100vh;
  background: url("../images/login-bg.jpg") center center no-repeat;
  .login-box{
    -moz-box-shadow: 1px 0 20px rgba(0,0,0,.08);
    -webkit-box-shadow: 1px 0 20px rgba(0,0,0,.08);
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    background: #fff;
    padding: 20px;
    width: 400px;
    margin: 10% auto;
  }
  .login-logo{
    text-align: center;
    height: 50px;
    h5{
      font-size:18px;
      color:#3d3f46;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  .form-horizontal{
    margin-top: 20px;
    .input-group{
      width: 100%;
    }
    .input-group-addon{
      width: 40px;
      background: #fff;
      border-color:$border-color;
    }
    .form-control{
      padding: 8px 16px;
      height: 44px;
      border-color:$border-color;
      &:focus{
        border-color:$border-color-response;
      }
    }

    .btn{
      border-color:$color-blue ;
      background: $color-blue;
      &:hover{
        border-color:$color-blue-response;
        background: $color-blue-response;
      }
    }
  }

}