/**
 * Created by WangZhenJia(159109799@qq.com) on 2017/10/31.
 */
.sidebar-wrap{
  width:230px;
  background: #2c343f;

  .sidebar-content{

  }

  .side-header {
    margin: 0 auto;
    min-height: 60px;
    color:#fff;
    font-size:16px;
    line-height: 34px;
    background-color: rgba(255, 255, 255, 0.075);
  }

  .side-content {
    margin: 0 auto;
    padding: 13px 20px 1px;
    max-width: 100%;
    overflow-x: hidden;
  }

}

.react-sidebar{
  margin: 0 auto;
  padding: 13px 20px 1px;
  max-width: 100%;
  overflow-x: hidden;

  ul.nav-main {
    margin: 0 -20px;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: 10px 35px 10px 20px;
      color: rgba(255, 255, 255, 0.5);
    }
    a.nav-submenu {
      position: relative;
      padding-right: 30px;

      &:before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        display: inline-block;
        font-family: 'FontAwesome';
        color: rgba(255, 255, 255, 0.25);
        content: "\f104";

      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 50px;
      height: 0;
      list-style: none;
      background-color: rgba(0, 0, 0, 0.15);
      overflow: hidden;
    }
    ul > li {
      opacity: 0;
      -webkit-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      -webkit-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      transform: translateX(-15px);
    }

    li.open > ul {
      height: auto;
    }
    li.open > ul > li {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    li.open > a.nav-submenu:before {
      content: "\f107";
    }

    li.open > a,
    li > a.selected {
      color: #fff;
    }
  }

}