@charset "UTF-8";
/**
 * Created by WangZhenJia(159109799@qq.com) on 2017/9/13.
 */
.react-selectbox {
  position: relative;
  width: 100%;
  display: inline-block;
  /* -moz-box-shadow:0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow:0 0 2px rgba(0,0,0,0.3);
   box-shadow:0 0 2px rgba(0,0,0,0.3);*/
  /*按钮点击项*/
  /*清除按钮*/
  /*搜索框*/
  /*下拉菜单*/
  /*隐藏下拉菜单*/
  /*横向多个排列*/
  /*原始select*/ }
  .react-selectbox .react-selectbox-button {
    padding: 0px 0;
    display: inline-block;
    width: 100%;
    min-width: 100px;
    line-height: 28px;
    border: none;
    background-color: transparent;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
    .react-selectbox .react-selectbox-button:before {
      content: "";
      position: absolute;
      right: 35px;
      top: 10px;
      height: 20px;
      border-right: 1px solid #ddd; }
    .react-selectbox .react-selectbox-button:after {
      content: "";
      position: absolute;
      top: 16px;
      right: 15px;
      border-top: 6px solid #999;
      border-right: 5px solid #fff;
      border-bottom: 5px solid #fff;
      border-left: 5px solid #fff; }
    .react-selectbox .react-selectbox-button .react-selectbox-btn-label {
      text-align: left;
      padding: 6px 40px 6px 15px;
      min-height: 40px;
      white-space: nowrap;
      overflow: hidden; }
      .react-selectbox .react-selectbox-button .react-selectbox-btn-label .react-selectbox-label-tag {
        display: inline-block;
        padding: 0px 8px;
        border-radius: 3px;
        background: #518BFF;
        margin: 0 3px 0 0;
        color: #fff; }
  .react-selectbox .react-selectbox-clearbtn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer; }
    .react-selectbox .react-selectbox-clearbtn:before {
      content: "×";
      color: #bbb;
      text-align: center;
      display: block;
      vertical-align: middle;
      line-height: 20px; }
    .react-selectbox .react-selectbox-clearbtn:hover {
      background: #ddd; }
      .react-selectbox .react-selectbox-clearbtn:hover:before {
        color: #aaa; }
  .react-selectbox .react-selectbox-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .react-selectbox .react-selectbox-search .react-selectbox-search-input {
      width: 100%;
      background: transparent;
      border: none;
      padding: 6px 40px 6px 20px;
      height: 40px; }
      .react-selectbox .react-selectbox-search .react-selectbox-search-input:focus {
        background: #fff; }
  .react-selectbox .react-selectbox-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    background-color: #fff;
    padding: 10px 0;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    z-index: 99;
    /*下拉项*/ }
    .react-selectbox .react-selectbox-options.react-selectbox-moreOpt {
      height: 238px;
      overflow: auto; }
    .react-selectbox .react-selectbox-options .react-selectbox-option {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      color: #666; }
      .react-selectbox .react-selectbox-options .react-selectbox-option:hover {
        background-color: #eee; }
  .react-selectbox .react-selectbox-hidden.react-selectbox-options {
    display: none; }
  .react-selectbox .react-selectbox-floatItem.react-selectbox-options .react-selectbox-option {
    float: left;
    padding: 10px 10px;
    min-width: 75px;
    width: 50%;
    text-align: left; }
  .react-selectbox .react-selectbox-native {
    position: absolute;
    left: -9999em; }

/*多选*/
.react-selectbox.react-selectbox-multi {
  /*下拉项*/ }
  .react-selectbox.react-selectbox-multi .react-selectbox-option:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    color: #333;
    border-radius: 3px;
    border: 1px solid #999;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center; }
  .react-selectbox.react-selectbox-multi .react-selectbox-option.react-selectbox-option-selected {
    color: #518BFF; }
    .react-selectbox.react-selectbox-multi .react-selectbox-option.react-selectbox-option-selected:before {
      content: "✓";
      color: #518BFF; }

/*有值时*/
.react-selectbox.hasValue {
  /*按钮点击项*/ }
  .react-selectbox.hasValue .react-selectbox-button:before {
    display: none; }
  .react-selectbox.hasValue .react-selectbox-button:after {
    display: none; }
  .react-selectbox.hasValue .react-selectbox-search .react-selectbox-search-input.hasSearchValue {
    opacity: 0; }
  .react-selectbox.hasValue .react-selectbox-search .react-selectbox-search-input.hasSearchValue:focus {
    opacity: 1; }

/*# sourceMappingURL=SelectBox.css.map */
